.button {
  font: inherit;
  border: 1px solid #031e46;
  background: #00295f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #031e46;
  border-color: #00295f;
}

.button:focus {
  outline: none;
}
